{{ template "base" . }} 

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-3">Home Page</h1>
      <hr />
      <form action="/login" method="post">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input name="email" type="email" class="form-control" id="email" />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            name="password"
            type="password"
            class="form-control"
            id="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <small> Your request came from {{$force_error}} </small>
    </div>
  </div>
</div>
{{end}}
 
